services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    command: --secure-file-priv=""
    volumes:
      - ./mysql:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d
      - ./datasets:/datasets
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moviedb 
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass

  backend:
    build: .
    container_name: python-backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASSWORD: apppass
      DB_NAME: moviedb 

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    environment:
      PMA_HOST: db
